# Authentication Secret for NextAuth / Auth.js (Generate with `openssl rand -base64 32`)
AUTH_SECRET=

# NextAuth Canonical URL
NEXTAUTH_URL=http://localhost:3000

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
